body {
    background-image: url("http://happyapple.us/downloads/Evee_1920x1200.png"); 
    /*background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2); */
}
.contenido {
    margin-top: 40px;
}
h1 {
    color: black;
    text-align: center;
    font-size: 34px;
}

form {
    background-color: white;
    padding: 50px;
}

.lista {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #56CCF2; 
    background: rgb(219, 246, 255); 
}
.lista li:last-child{
    margin:0;
}

.tipografia{
    font-family: 'Press Start 2P', cursive;
}

.tipografia2{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 35px;
}

.rojo{
    background-color: crimson;
    font-family: 'Baloo Tamma 2', cursive;
}
.amarillo{
    background-color: gold;
    font-family: 'Baloo Tamma 2', cursive;
}
.verde{
    background-color: greenyellow;
    font-family: 'Baloo Tamma 2', cursive;
}
.celeste{
    background-color: lightblue;
    font-family: 'Baloo Tamma 2', cursive;
}
.marron{
    background-color: chocolate;
    font-family: 'Baloo Tamma 2', cursive;
}
.anaranjado{
    background-color: coral;
    font-family: 'Baloo Tamma 2', cursive;
}
.azul{
    background-color: deepskyblue;
    font-family: 'Baloo Tamma 2', cursive;
}
.lila{
    background-color: indigo;
    font-family: 'Baloo Tamma 2', cursive;
    color: seashell;
}
.negro{
    background-color: black;
    font-family: 'Baloo Tamma 2', cursive;
    color: seashell;

}
.rosa{
    background-color: deeppink;
    font-family: 'Baloo Tamma 2', cursive;
}
.fucsia{
    background-color: fuchsia;
    font-family: 'Baloo Tamma 2', cursive;
}
.verdeoscuro{
    background-color: green;
    font-family: 'Baloo Tamma 2', cursive;
}
.verdeclaro{
    background-color: lightgreen;
    font-family: 'Baloo Tamma 2', cursive;
}
.verdeagua{
    background-color: lightseagreen;
    font-family: 'Baloo Tamma 2', cursive;
}
.gris{
    background-color: lightsteelblue;
    font-family: 'Baloo Tamma 2', cursive;
}
.violetaoscuro{
    background-color: mediumslateblue;
    font-family: 'Baloo Tamma 2', cursive;
}
.marronoscuro{
    background-color: saddlebrown;
    font-family: 'Baloo Tamma 2', cursive;
}
.crema{
    background-color: pink;
    font-family: 'Baloo Tamma 2', cursive;
}
.normal{
    font-family: 'Baloo Tamma 2', cursive;
}