body {
    background-image: url("http://happyapple.us/downloads/Evee_1920x1200.png"); 
    /*background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2); */
}
.contenido {
    margin-top: 40px;
}
h1 {
    color: black;
    text-align: center;
    font-size: 34px;
}

form {
    background-color: white;
    padding: 50px;
}

.lista {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #56CCF2; 
    background: rgb(219, 246, 255); 
}
.lista li:last-child{
    margin:0;
}

.tipografia{
    font-family: 'Press Start 2P', cursive;
}

.tipografia2{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 35px;
}

